ul
  each case_item in cases
    li
      a(target='_blank' href='https://system.netsuite.com/app/crm/support/supportcase.nl?id=#{case_item.id}&e=T') #{case_item.number} - #{case_item.subject}
      |&nbsp;&nbsp;[#{case_item.severity}/#{case_item.priority} Priority]
